* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}

body, html {
    height: 100vh;
    overflow: hidden; 
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
   


}

.left {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.left h1 {
    font-size: 50px;
    width: 400px;
    color: #5b53a0;

}

.left p {
    font-size: 20px;
    width: 600px;
    padding: 30px 0;
    color: #9b9797;

}

.btn {
    padding: 13px 40px;
    background: #5b53a0;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    transition: opacity 0.6s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
    border: #000 solid 1px;

}

.back {
    width: 32%;
    height: 100vh;
    background: #5b53a0;
    opacity: 0.2;
    position: absolute;
    right: 0;
}


.right img {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);

}

.nav {
    position: absolute;
    right: 5%;
    top: 5px;
    font-weight: 700;
    font-size: 20px;
    padding: 20px;


}

.nav a {
    position: relative;
    color: #5b53a0;
    margin-right: 30px;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
}

.right .nav a:hover {
    color: #a8a2a2;

}

.right .nav a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #a8a2a2;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.6s ease;

}

.right .nav a:hover::after {
    width: 100%;


}




@media (max-width: 1663px) {

    .back {
        width: 35%;
    }




}





@media (max-width: 1472px) {

    .back {
        width: 38%;
    }




}


@media screen and (max-width: 1368px) {


    body {
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .left {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);

    }

    .left button {
        width: 100px;
        padding: 10px 10px;
        font-size: 14px;

    }

    .left h1 {

        margin-top: 20px;
        font-size: 30px;

    }

    .left p {
        width: 400px;
        font-size: 15px;

    }

    .right img {
        position: absolute;
        width: 20%;
        top: 550px;
        left: 500px;

    }

    .back {
        display: static;
        width: 100vw;
        height: 60vh;
        top: 60%;
        z-index: -1;
    }

    .nav {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-55%);
        margin-left: 30px;

    }


}



@media screen and (max-width: 1140px) {

    .right img {
        position: absolute;
        width: 40%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);

    }
    



}


@media screen and (max-width: 933px) {

    .right img {
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
    }

    .nav {
        width: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        margin-left: 30px;
    }

    

}

@media screen and (max-width: 643px) {

    .right img {
        width: 45%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);

    }

    .content {
        margin-left: 40px;
    }


}


@media screen and (max-width: 508px) {

    .left button {
        width: 30%;
    }

    .left .content {
        margin: 0 auto;
    }

    .nav a {
        font-size: 15px;
        margin: 0 5px
    }

    .nav {

        margin: 0 auto;
    }
}


@media screen and (max-width: 425px) {

    .left h1 {
        font-size: 20px;
    }

    .left p {
        font-size: 14px;
        width: 290px;
    }




}

@media screen and (max-width: 387px) {


    .back {

     
        width: 100%;
        height: 50vh;
        top: 50%;
        padding: 0;

    }


    .left {
        top: 9%;
    }

    .right img {
        top: 44%;
        width: 50%;
    }

}





@media screen and (max-width: 321px) {

    .right img{
        width: 40%;
        top: 60%;
    }

    .left{
        line-height: 15px;
    }

    
}